/* configurações globais */

:root {
  --main-bg-color: #2A2C2F;
  --secondary-bg-color: #323437;
  --text-color: white;
}
 
  
*{
  color: var(--text-color);
  padding: 0;
  margin: 0;
}

.primary{
  background-color: var(--main-bg-color);
}

.secundary{
  background-color: var(--secondary-bg-color);
}

section{
  height: 100vh;  
}

section.como-jogar h2,
section.personagens h2,
section.cartas h2{
  height: 20vh;
  width: 80vw;
  align-items: end;
  display: flex;
  font-size: 60px;
}

/* Cabecalho */

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 60px;
  align-items: center;
  background-color: var(--main-bg-color);
}

header div{
  display: flex;
  width: 260px;
  justify-content: space-around;
}


/* pagina inicial */

section.inicio{
  display: flex;
  justify-content: center;
  align-items: center;
}

section.inicio img{
  size: 20rem;
}

section.inicio div{
  max-width: 80vw;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
}

section.inicio h2{
  font-size: 60px;
}

section.inicio div div{
  flex-direction: column;
  align-self: center;
  width: 60%;
}

section.inicio div div h2{
  margin-bottom: 15px;
}

/* cartas */


section.cartas{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}



.secao-cartas{
  display: flex;
  width: 80vw;
  height: 100vh;
  justify-content: space-between;
  font-size: 40px;
  align-self: center;
}


section.cartas .atras,
section.cartas .frente{
  height: 80vh;
  width: 80vw;
}

section.cartas .atras{
  height: 85%;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section.cartas .frente{
  height: 85%;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



.atras img,
.frente img{
  max-width: 14vw;
}

.frente div{
  width: 100%;
  display: flex;
  justify-content: space-between;
}


/* Personagens */

section.personagens{
  display: flex;
  justify-content: center;
}

section.personagens div{
  width: 80vw;
    
}


/*como jogar*/

section.como-jogar{
  display: flex;
  justify-content: center;
}

section.como-jogar div{
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
    
}

section.como-jogar .texto{
  background-color: var(--secondary-bg-color);
  width: 80%;
  height: 60%;
  align-self: center;
  display: flex;
}

section.como-jogar .texto p{
  padding: 0 10px;
  font-size: 1rem;
}