/* configurações globais */
:root {
  --main-bg-color: #2A2C2F;
  --secondary-bg-color: #323437;
  --text-color: white;
}

* {
  color: var(--text-color);
  padding: 0;
  margin: 0;
}

.primary {
  background-color: var(--main-bg-color);
}

.secundary {
  background-color: var(--secondary-bg-color);
}

section {
  padding: 50px 0;
  box-sizing: border-box;
  overflow: hidden; 
}

section.jornada h2,
section.como-jogar h2,
section.tabuleiro h2,
section.cartas h2 {
  height: auto;
  width: 80vw;
  align-items: end;
  display: flex;
  font-size: 60px;
}

/* Cabecalho */
header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 60px;
  align-items: center;
  background-color: var(--main-bg-color);
}

header div {
  display: flex;
  width: 260px;
  justify-content: space-around;
}

/* Seções compartilhadas (jornada e inicio) */
section.jornada,
section.inicio {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.jornada div,
section.inicio div {
  max-width: 80vw;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
}

section.jornada div div,
section.inicio div div {
  flex-direction: column;
  align-self: center;
  width: 60%;
}

section.jornada div div h2,
section.inicio div div h2 {
  margin-bottom: 15px;
}

/* cartas */
section.cartas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secao-cartas {
  display: flex;
  width: 80vw;
  height: 45vh;
  justify-content: space-between;
  font-size: 40px;
  align-self: center;
}

section.cartas .atras,
section.cartas .frente {
  height: 80vh;
  width: 35vw;
  flex-direction: column;
  justify-content: space-around;
}

.atras img,
.frente img {
  height: 35vh;
  width: 13vw;
}

.atras div,
.frente div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

section.cartas .atras_recompensa img {
  max-height: 70vh;
}

/* tabuleiro */
section.tabuleiro {
  display: flex;
  justify-content: center;
  height: 140vh; 
}

section.tabuleiro div {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section.tabuleiro img {
  max-width: 48vw;
  max-height: 100%; 
}

/* como jogar */
section.como-jogar {
  display: flex;
  height: 200vh;
  justify-content: center;
}

section.como-jogar div {
  display: flex;
  width: 80vw;
  flex-direction: column;
}

section.como-jogar div div {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

/*disposicao dos botoes*/
header div {
  display: flex;
  align-items: center;
  gap: 20px; /* Espaço entre os botões */
}

header div a {
  font-size: 16px; /* Tamanho da fonte menor */
  text-decoration: none; /* Remover sublinhado dos links */
  color: white; /* Cor do texto dos botões */
}

/* Seção para Botões no Header */
header div {
  display: flex;
  align-items: center;
  gap: 20px; /* Espaço entre os botões */
}

header div a {
  font-size: 16px; /* Tamanho da fonte menor */
  text-decoration: none; /* Remover sublinhado dos links */
  color: white; /* Cor do texto dos botões */
}

/* Seção para Seções Adicionais na Página de Regras(Reutilizadas nas outras pages) */
section.regras {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.regras div {
  max-width: 80vw;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
}

section.regras div div {
  flex-direction: column;
  align-self: center;
  width: 60%;
}

section.regras div div h2 {
  margin-bottom: 15px;
}

/* Títulos das Seções Adicionais */
section.regras h2 {
  height: 20vh;
  width: 80vw;
  align-items: end;
  display: flex;
  font-size: 60px;
}

/* Espaçamento entre linhas Seção primaria */
section.regras.primary p {
  margin-bottom: 10px; 
}

/* Espaçamento entre linhas Seção secundaria */
section.regras.secundary p {
  margin-bottom: 10px; 
}

/* Seção primaria */
section.regras.secundary {
  background-color: var(--secondary-bg-color);
  color: white;
  padding: 20px;
}

/* Seção secundaria */
section.regras.primary {
  background-color: var(--main-bg-color);
  color: white;
  padding: 20px;
}
section.regras.primary img {
  max-width: 120px;
  height: auto;
  display: inline-block;
  margin: 10px; 
}
section.regras.secundary img {
  max-width: auto;
  height: auto;

}